[hub]
        protocol = https
[user]
        name = AUTHORNAME
        email = AUTHOREMAIL
[github]
        user = GITHUB_USERNAME
[credential]
        helper = GIT_CREDENTIAL_HELPER
[alias]
        co = checkout
        ci = commit
        st = status
        br = branch
        hist = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
        promote = !$ZSH/bin/git-promote
        wtf     = !$ZSH/bin/git-wtf
        rank-contributors = !$ZSH/bin/git-rank-contributors
        count   = !git shortlog -sn
[color]
        diff = auto
        status = auto
        branch = auto
        ui = true
[core]
        excludesfile = ~/.gitignore
        editor = subl
[apply]
        whitespace = nowarn
[mergetool]
        keepBackup = false
[difftool]
        prompt = false
[help]
        autocorrect = 1
[push]
        default = simple
